keys/
/Terraform/variables.tf
/Terraform/.terraform.lock.hcl
/Terraform/terraform.tfstate
/Terraform/terraform.tfstate.backup
/Terraform/.terraform/
/mage-epl-stats/mage-quickstart/your_first_project/io_config.yaml